body{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: blue;
}

main{
    background-color: sienna;
}

footer{
    background-color: brown;
}

#centro{
    color: white;
}